body {
    background: url(clouds.jpeg) no-repeat;
    background-size: auto;
}

#response {
    font-weight:800;
    /* color:white; */
    font-size: 3em;
}

.jumbotron {
    background: none;
}

#title {
    font-weight:800;
    font-size: 50px;
}